<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
</head>
<body>

</body>
<script>
    //alert(document.title);
    // websocket &amp; stomp initialize
    //var sock = new WebSocket("ws://localhost:8080/ws-stomp");
    var sock = new SockJS("http://localhost:8080/ws-stomp");
    var ws = Stomp.over(sock);
    var reconnect = 0;
    // vue.js
    function connect() {
        // pub/sub event
        ws.connect({}, function(frame) {
            ws.subscribe("http://localhost:8080/sub/chat/room/"+14, function(message) {
                var recv = JSON.parse(message.body);
                console.log(recv);
            });
            ws.send("http://localhost:8080/pub/chat/message", {}, JSON.stringify({type:'ENTER', roomId:14, sender:"ksang91"}));
        }, function(error) {
            if(reconnect++ <= 5) {
                setTimeout(function() {
                    console.log("connection reconnect");
                    sock = new WebSocket("ws://localhost:8080/ws-stomp");
                    ws = Stomp.over(sock);
                    connect();
                },10*1000);
            }
        });
    }
    connect();
</script>
</html>